body {
    overflow:hidden;
}

#container {
    width:100%;
    height:100%;

    position: fixed;
    top: 0;
    left: 0;

    text-align:center;
    background-color: white;


    font-family:Verdana, Geneva, sans-serif;
}

#article-container {
    background-color: white;
    display: none;
}

#logo-cf {
    max-width: 55%;
}

#article-text {
    position: absolute;
    bottom: 0px;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    text-align: center;
}

.article-title {
    font-weight:bold;
    font-size:30px;
    margin: 0 auto;
    max-width: 70%;
}

.article-subtitle {
    margin: 0 auto;
    font-size:30px;
    max-width: 70%;
}

.max-size {
    width: 100%;
    height: 100%;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
